* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;
}

body {
    font-family: "Work Sans", sans-serif;
    background-color: black;
    color: white;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:focus {
    outline: none;
}

p {
    font-size: 20rem;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Comienzo del HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.navegador {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    background-color: black;
    box-shadow: rgba(230, 225, 225, 0.596) 0px 3px 8px;
}

.lista-horizontal {
    display: flex;
    list-style: none;
}

.item-navegador {
    font-size: 18rem;
    margin: 10px;
    border-radius: 25px;
    padding: 15px;
    border: 1px solid black;
}

.item-navegador:hover {
    font-weight: 700;
    color: #aa14f0;
}

.item-navegador:active:not(:nth-child(4)) {
    border: 1px solid #aa14f0;
    box-shadow: rgba(220, 89, 246, 0.775) 0px 2px 4px 0px, rgba(220, 89, 246, 0.775) 0px 2px 20px 0px;
}

.item-navegador:focus:not(:nth-child(4)) {
    border: 1px solid #aa14f0;
    box-shadow: rgba(220, 89, 246, 0.775) 0px 2px 4px 0px, rgba(220, 89, 246, 0.775) 0px 2px 20px 0px;
}

.boton {
    background-color: #aa14f0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    transition-duration: 0.2s;
}

.boton:hover {
    font-weight: 300;
    background-color: #b154dc;
    color: white;
}

.boton:active {
    background-color: #aa14f0;
    box-shadow: rgba(144, 48, 163, 0.775) 0px 2px 4px 0px, rgba(144, 48, 163, 0.775) 0px 2px 20px 0px;
}

.boton:focus {
    box-shadow: rgba(144, 48, 163, 0.775) 0px 2px 4px 0px, rgba(144, 48, 163, 0.775) 0px 2px 20px 0px;
}
/* Fin del HEADER */

/* Comienzo de la SECCIÓN PRESENTACIÓN */
.seccion-presentacion {
    justify-content: space-around;
    text-align: start;
    width: 100%;
    padding: 10px 100px;
    flex-wrap: wrap;
}

.presentacion {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    width: 50%;
}

.intro {
    font-family: "PT Serif", serif;
    font-size: 30rem;
}

.nombre {
    color: #aa14f0;
    font-family: "PT Serif", serif;
    font-size: 60rem;
}

.descripcion {
    color: rgb(145, 144, 144);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20rem;
}

.img-presentacion {
    width: 500px;
}

img {
    width: 100%;
    display: block;
}
/* Fin de la SECCIÓN PRESENTACIÓN */

/* Comienzo de la SECCIÓN DE HABILIDADES */
.seccion-habilidades {
    flex-direction: column;
    padding: 150px;
    background-color: #aa14f0;
    color: rgb(255, 255, 255);
}

.subtitulo {
    color: rgb(255, 255, 255);
    font-family: "Karla", sans-serif;
    font-size: 50rem;
    margin-bottom: 30px;
}

.parrafo {
    margin: 10px 0px 60px 0px;
    width: 50%;
}

.contenedor-tarjetas {
    flex-wrap: wrap;
    margin-top: 40px;
}

.tarjeta-conocimiento {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 211, 236);
    padding: 60px 40px;
    width: 250px;
    border: 1px solid rgb(185, 183, 183);
    border-radius: 10px;
    margin: 10px;
    transition: transform .6s;
}

.tarjeta-conocimiento p {
    color: black;
    margin-top: 10px;
    font-weight: 1000;
}

.tarjeta-conocimiento:hover {
    transform: translate(0, -5px);
}

.fa-html5 {
    color: #e54d26;
}

.fa-css3-alt {
    color: #3d8fc6;
}

.fa-sass {
    color: #d37aa7;
}

.fa-js {
    color: #f0db4f;
}

.fa-react {
    color: #80e1fc;
}

.fa-git-alt {
    color: #f34f29;
}

.icono-conocimiento {
    font-size: 80rem;
}
/* Fin de la SECCIÓN DE HABILIDADES */

/* Comienzo de la SECCIÓN CITA */
.seccion-cita {
    background-color: #8204b4;
    padding: 150px 250px;
    flex-direction: column;
}

.fa-quote-right {
    color: white;
    font-size: 100rem;
    align-self: center;
}

.frase {
    font-size: 20rem;
    margin: 20px;
}
/* Fin de la SECCIÓN CITA */

/* Comienzo de la SECCIÓN PROYECTOS */
.seccion-proyectos {
    flex-direction: column;
    background-color: #5b0e9a;
    color: rgb(255, 255, 255);
    padding: 100px 0px;
}

.tarjeta-proyecto {
    justify-content: space-between;
    margin: 10px;
    background-color: white;
    display: block;
    width: 25vw;
    padding: 25px 20px;
    border: 1px solid #5b0e9a;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.1s;
}

.tarjeta-proyecto figure {
    height: 250px;
}

.tarjeta-proyecto p {
    color: #3f0071;
    margin-top: 10px;
    font-size: 20rem;
    font-weight: 1000;
}

.tarjeta-proyecto:hover {
    border: 1px solid #ffffff;
}

.tarjeta-proyecto:hover p {
    color: #aa14f0;
}

a:focus .tarjeta-proyecto {
    border: 1px solid white;
    box-shadow: rgba(255, 255, 255, 0.744) 0px 2px 4px 0px, rgba(255, 255, 255, 0.775) 0px 2px 20px 0px;
}
/* Fin de la SECCIÓN PROYECTOS */

/* Comienzo de la SECCIÓN CONTACTO */
.seccion-contacto {
    background-color: #3f0071;
    padding: 200px 120px 100px 120px;
}

.contenedor-contacto {
    background-color: white;
    color: black;
    text-align: left;
    justify-content: space-evenly;
    border: 1px solid rgb(231, 227, 227);
    border-radius: 20px;
    padding-bottom: 60px;
}

.contactame {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-right: 50px;
}

.subtitulo-contacto {
    color: rgb(0, 0, 0);
    font-family: "Karla", sans-serif;
    font-size: 50rem;
    margin-bottom: 30px;
}

.contactame p {
    font-size: 17rem;
}

.lista-vertical {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
    font-size: 18rem;
    list-style: none;
    line-height: 50px;
}

.lista-vertical a {
    color: black;
}

.borde-redes {
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 12px;
    border-radius: 30px;
    margin: 5px;
    transition: 0.2s;
}

.circulo-icono {
    border-radius: 100%;
    padding: 8px;
}

.icono-redes {
    color: #aa14f0;
    font-size: 20rem;
}

.lista-iconos a {
    color: black;
}

.lista-vertical a:hover .icono-redes {
    background-color: #aa14f0;
    color: white;
}

.lista-vertical a:hover {
    color: #aa14f0;
}

.borde-icono:active {
    box-shadow: rgba(220, 89, 246, 0.775) 0px 2px 4px 0px, rgba(220, 89, 246, 0.775) 0px 2px 20px 0px;
}

.borde-redes:focus {
    box-shadow: rgba(220, 89, 246, 0.775) 0px 2px 4px 0px, rgba(220, 89, 246, 0.775) 0px 2px 20px 0px;
}

.escribime {
    width: 40%;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding-left: 50px;
    padding-top: 100px;
}

/* Comienzo del FORMULARIO */
.form-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

label {
    font-size: 18rem;
    font-weight: 1000;
    position: relative;
    z-index: 1;
}

input:not(input[type="submit"]),
textarea {
    display: block;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 12px;
    background-color: #f4e9f6;
    border: none;
    border-radius: 20px;
    outline: none;
    transition: 0.2s;
}

.inputs-horizontales {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inputs-horizontales div {
    width: 48%;
}

.mensaje {
    height: 120px;
}

.fa-circle-check {
    font-size: 0rem;
    color: rgb(67, 250, 67);
    position: absolute;
}

.fa-circle-xmark {
    font-size: 0rem;
    color: red;
    position: absolute;
}

.validacion-icono {
    bottom: 8px;
    right: 8px;
}

.invalidacion-icono {
    bottom: 8px;
    right: 8px;
}

input:focus,
textarea:focus {
    box-shadow: rgba(220, 89, 246, 0.775) 0px 2px 4px 0px, rgba(220, 89, 246, 0.775) 0px 2px 20px 0px;
}

input:not(:placeholder-shown):valid:not(input[type="submit"]) {
    border: 1px solid rgb(67, 250, 67);
    box-shadow: rgba(89, 246, 89, 0.775) 0px 2px 4px 0px, rgba(89, 246, 89, 0.775) 0px 2px 20px 0px;
}

input:not(:placeholder-shown):valid ~ .fa-circle-check {
    font-size: 20rem;
}

input:not(:placeholder-shown):invalid:not(input[type="submit"]) {
    border: 1px solid red;
    box-shadow: rgba(251, 60, 60, 0.775) 0px 2px 4px 0px, rgba(251, 60, 60, 0.775) 0px 2px 20px 0px;
}

input:not(:placeholder-shown):invalid ~ .fa-circle-xmark {
    font-size: 20rem;
}

textarea:not(:placeholder-shown):valid {
    border: 1px solid rgb(67, 250, 67);
    box-shadow: rgba(89, 246, 89, 0.775) 0px 2px 4px 0px, rgba(89, 246, 89, 0.775) 0px 2px 20px 0px;
}

textarea:not(:placeholder-shown):valid ~ .fa-circle-check {
    font-size: 20rem;
}

textarea:not(:placeholder-shown):invalid {
    border: 1px solid red;
    box-shadow: rgba(251, 60, 60, 0.775) 0px 2px 4px 0px, rgba(251, 60, 60, 0.775) 0px 2px 20px 0px;
}

textarea:not(:placeholder-shown):invalid ~ .fa-circle-check {
    font-size: 20rem;
}

.boton-enviar {
    border: none;
    padding: 15px 40px;
    outline: none;
}
/* Fin del FORMULARIO */
/* Fin de la SECCIÓN CONTACTO */

/* Comienzo del FOOTER */
.pie-pagina {
    background-color: #00000000;
    flex-direction: column;
    padding: 45px;
    line-height: 75px;
}

.pie-pagina p {
    font-size: 17rem;
}

.item-footer {
    font-size: 15px;
    margin: 10px;
    border: 1px solid #0000;
    padding: 10px;
    border-radius: 30px;
    transition: 0.1s;
}

.item-footer:active {
    box-shadow: rgba(220, 89, 246, 0.775) 0px 2px 4px 0px, rgba(220, 89, 246, 0.775) 0px 2px 20px 0px;
}

.item-footer:focus {
    box-shadow: rgba(220, 89, 246, 0.775) 0px 2px 4px 0px, rgba(220, 89, 246, 0.775) 0px 2px 20px 0px;
}

.icono-footer {
    color: #aa14f0;
}

.circulo-footer {
    background-color: white;
    margin: 10px;
    padding: 12px;
    border: 1px solid white;
    transition: 0.1s;
}

.circulo-footer:hover {
    border: 1px solid #aa14f0;
    background-color: black;
}

a:hover .icono-footer {
    color: #aa14f0;
}

.circulo-footer:active {
    box-shadow: rgba(220, 89, 246, 0.775) 0px 2px 4px 0px, rgba(220, 89, 246, 0.775) 0px 2px 20px 0px;
}

.circulo-footer:focus {
    border: 1px solid #aa14f0;
    background-color: black;
    box-shadow: rgba(220, 89, 246, 0.775) 0px 2px 4px 0px, rgba(220, 89, 246, 0.775) 0px 2px 20px 0px;
}

a:focus .icono-footer {
    color: #aa14f0;
}
/* Fin del FOOTER */

/* Comienzo de las MEDIA QUERIES */
@media (min-width: 1650px) {
    .tarjeta-proyecto {
        display: flex;
        flex-direction: column;
        height: 400px;
    }
}
@media (min-width: 1101px) and (max-width: 1319px) {
    .seccion-habilidades {
        padding: 120px;
    }
    .seccion-presentacion {
        padding: 110px 50px;
    }
    .tarjeta-proyecto {
        width: 29vw;
    }
    .seccion-contacto {
        padding: 150px 50px 150px 50px;
    }
}
@media (max-width: 1100px) {
    header {
        display: none;
    }
    .seccion-presentacion {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 90px;
    }
    .img-presentacion {
        margin-top: 50px;
    }
    .seccion-habilidades {
        padding: 120px;
    }
    .tarjeta-proyecto {
        width: 30vw;
    }
    .seccion-contacto {
        padding: 150px 35px 150px 35px;
    }
}
@media (max-width: 1085px) {
    .seccion-cita {
        padding: 150px 50px;
    }
    .tarjeta-proyecto figure {
        height: 200px;
    }
}
@media (max-width: 1049px) {
    .seccion-presentacion {
        padding: 110px 5px;
    }
    .seccion-habilidades {
        padding: 120px 0px;
    }
    .tarjeta-proyecto figure {
        height: 230px;
    }
    .tarjeta-proyecto p {
        font-size: 18rem;
    }
    .contactame {
        padding-right: 30px;
    }
    .escribime {
        padding-left: 30px;
    }
}
@media (max-width: 985px) {
    .tarjeta-proyecto figure {
        height: 170px;
    }
    .tarjeta-proyecto p {
        font-size: 16rem;
    }

    .contactame {
        padding-right: 0px;
    }
    .escribime {
        padding-left: 0px;
    }
}
@media (max-width: 900px) {
    .seccion-habilidades {
        padding: 120px 50px;
    }
    .contenedor-tarjetas {
        margin-top: 10px;
    }
    .tarjeta-proyecto {
        width: 45vw;
    }
    .tarjeta-proyecto figure {
        height: 300px;
    }
    .tarjeta-proyecto p {
        font-size: 18rem;
    }
    .seccion-contacto {
        background-color: white;
        padding: 50px 0px;
    }
    .contenedor-contacto {
        flex-direction: column;
        align-items: flex-start;
        border: none;
    }
    .contactame {
        padding-left: 40px;
        width: 100%;
    }
    .contactame p {
        width: 60%;
    }
    .lista-vertical div {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .lista-vertical div li {
        width: 50%;
    }
    .escribime {
        padding: 40px;
        width: 100%;
    }
    .mensaje {
        height: 180px;
    }
}
@media (max-width: 858px) {
    .presentacion {
        width: 100%;
    }
    .tarjeta-proyecto figure {
        height: 250px;
    }
}
@media (max-width: 800px) {
    .tarjeta-proyecto figure {
        height: 230px;
    }
    .parrafo {
        width: 80%;
    }
}
@media (max-width: 700px) {
    .pie-pagina .lista-horizontal .item-footer {
        display: none;
    }
}
@media (max-width: 660px) {
    .seccion-habilidades {
        padding: 120px 30px;
    }
    .tarjeta-proyecto figure {
        height: 210px;
    }
    .tarjeta-proyecto p {
        font-size: 16rem;
    }
    .lista-vertical a {
        font-size: 17rem;
    }
}
@media (max-width: 600px) {
    .tarjeta-proyecto figure {
        height: 180px;
    }
    .lista-vertical a {
        font-size: 16rem;
    }
}
@media (max-width: 580px) {
    .seccion-habilidades {
        padding: 150px 0px 100px 0px;
    }
    .tarjeta-conocimiento {
        padding: 40px 60px;
        width: 45vw;
    }
    .icono-conocimiento {
        font-size: 70px;
    }
    .tarjeta-proyecto p {
        font-size: 15rem;
    }
    .lista-vertical a {
        font-size: 15rem;
    }
}
@media (max-width: 550px) {
    .nombre {
        font-size: 50rem;
    }
    .img-presentacion {
        width: 90vw;
    }
    .subtitulo {
        font-size: 40rem;
    }
    .parrafo {
        font-size: 18rem;
    }
    .tarjeta-proyecto {
        width: 90vw;
    }
    .tarjeta-proyecto figure {
        height: 320px;
    }
    .tarjeta-proyecto p {
        font-size: 20rem;
    }
    .contactame {
        padding-left: 20px;
    }
    .contactame p {
        width: 80%;
    }
    .escribime {
        padding: 20px;
    }
    .lista-vertical div {
        margin-top: 0px;
        flex-direction: column;
    }
    .lista-vertical div li {
        width: 100%;
    }
    .lista-vertical a {
        font-size: 18rem;
    }
    .inputs-horizontales {
        flex-direction: column;
    }
    .inputs-horizontales div {
        width: 100%;
    }
}
@media (max-width: 450px) {
    .tarjeta-conocimiento {
        padding: 40px;
        width: 40vw;
    }
    .icono-conocimiento {
        font-size: 50px;
    }
    .tarjeta-conocimiento p {
        font-size: 18rem;
    }
    .tarjeta-proyecto figure {
        height: 250px;
    }
    .tarjeta-proyecto p {
        font-size: 18rem;
    }
}
@media (max-width: 370px) {
    .tarjeta-conocimiento {
        padding: 30px;
    }
}
@media (max-width: 350px) {
    .subtitulo {
        font-size: 35rem;
    }
    .tarjeta-conocimiento {
        width: 180px;
    }
    .frase {
        font-size: 15rem;
        margin: 0px;
        margin-bottom: 20px;
    }
    .tarjeta-proyecto figure {
        height: 200px;
    }
    .lista-vertical a {
        font-size: 16rem;
    }
}
/* Fin de las MEDIA QUERIES */
