* {
    margin: 0;
}

html {
    font-size: 1px;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: black;
    color: white;
}

header {
    position:sticky;
    top:0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: black;
    box-shadow: rgba(230, 225, 225, 0.596) 0px 3px 8px;
}

ul {
    padding: 0;
}

.navegador {
    display: flex;
    list-style: none;
}

.lista-nav {
    font-size: 18rem;
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.boton{
    background-color: #d125ba;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    
}

.seccion-presentacion{
    display: flex;
    padding: 120px 0px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.presentacion {
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

#foto-presentacion {
    width: 500px;
}

img {
    width: 100%;
    display: block;
}

.intro {
    font-family: 'PT Serif', serif;
    font-size: 30rem;
}

.nombre {
    color: #d125ba;
    font-family: 'PT Serif', serif;
    font-size: 60rem;
}

.descripcion {
    color: rgb(145, 144, 144);
    margin-top: 20px;
    margin-bottom: 20rpx;
    font-size: 20rem;
} 

.subtitulo {
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 50rem;
    margin-bottom: 40px;
}
.boton-presentacion {
    font-size: 20rem;
}

.section-conocimientos {
    background-color: #620670;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 200px;
}

p {
    font-size: 18rem;
}

.parrafo {
    margin: 10px 0px 60px 0px;
    width: 50%;
}

.contenedor-conocimiento {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card-conocimiento {
    background-color: white;
    padding: 60px 40px;
    width: 180px;
    border: 1px solid rgb(185, 183, 183);
    border-radius: 10px;
    display: block;
    margin: 10px;
}

.fa-html5 {
    color: #e54d26;
    font-size: 80rem;
}

.fa-css3-alt {
    color: #3d8fc6;
    font-size: 80rem;
}

.fa-sass {
    color: #d37aa7;
    font-size: 80rem;
}

.fa-js {
    color: #f0db4f;
    font-size: 80rem;
}

.fa-react {
    color: #80e1fc;
    font-size: 80rem;
}

.fa-git-alt {
    color: #f34f29;
    font-size: 80rem;
}

.letra-card {
    color: black;
    margin-top: 10rem;
    font-size: 20rem;
    font-weight: 1000;
}

.seccion-frase {
    background-color: #d125ba;
    padding: 150px 250px;
}

.cita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fa-quote-right {
    font-size: 100rem;
    align-self: center;
}

.frase {
    font-size: 20rem;
    margin: 20px;
}


.seccion-proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0px;
}

.contenedor-proyectos {
    flex-wrap: wrap;
    display: flex;
    padding: 0px 125px;
}

.card-proyectos {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    padding: 25px 20px;
    border: 1px solid rgb(179, 175, 175);
    border-radius: 8px;
    margin: 10px;
}

.img-proyecto {
    height: 250px;
}

.img-card-pelicula {
    width: 300px;
    height: 200px;
}

.seccion-contacto {
    background-color: #620670;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 120px;
}

.contenedor-contacto {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    border: 1px solid rgb(231, 227, 227);
    border-radius: 20px;
    padding: 0px 70px;
}

.contactame {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 60px;
}

.list-icons {
    margin-top: 20px;
    font-size: 18rem;
    list-style: none;
    line-height: 50px;
}

.fa-github-alt {
    color: #d125ba;
    font-size: 20rem;
}

.fa-instagram {
    color: #d125ba;
    font-size: 20rem;
}


.fa-linkedin {
    color: #d125ba;
    font-size: 20rem;
}

.fa-envelope {
    color: #d125ba;
    font-size: 20rem;
}

.letra-black {
    color: black;
}

.escribime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 60px;
    padding-top: 100px;
}


/* formulario */

#contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    width: 500px;
}
label {
    font-size: 18rem;
    font-weight: 1000;
}

input {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.nombre-apellido{
    display: flex;
}

#name {
    border-radius: 20px;
    padding: 15px;
    flex-grow: 1;
    margin-right: 5px;
    background-color: #f6f7fb;
    border: none;
}
#surname {
    border-radius: 20px;
    padding: 15px;
    flex-wrap: 1;
    margin-left: 5px;
    background-color: #f6f7fb;
    border: none;
}
#email {
    border-radius: 20px;
    padding: 15px;
    width: 380px;
    background-color: #f6f7fb;
    border: none;
}
#mensaje {
    border-radius: 20px;
    padding: 15px;
    margin-top: 15px;
    width: 380px;
    height: 100px;
    padding: 10px;
    background-color: #f6f7fb;
    border: none;
}
#boton-enviar {
    display: flex;
    justify-content: center;
    text-align: center;
    border: none;
    background-color: #d125ba;
    color: white;
    padding: 15px 40px;
    border-radius: 25px;
    font-size: 15rem;
}


/* pie de página */
footer {
    background-color: #d125ba;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px;
    line-height: 75px;
}

.lista-footer {
    font-size: 15px;
    margin: 10px;
}

.redondo {
    background-color: white;
    padding: 12px;
    border-radius: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

